@media only screen and (max-width: 650px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 630px) {
  body {
    font-size: 11px;
  }
}
.trash {
  color: red;
}

.pen {
  color: rgba(167, 167, 16, 0.8);
}


/*! btn phân trang */
.btn--special {
  background-color: rgba(10, 10, 237, 0.811);
}


.modal-title {
  padding-left: 27%;
}

.namecompany,
.name,
.username,
.phone,
.email,
.website,
.catchPhrase,
.bs {
  width: 100%;
}

.street,
.suite,
.city,
.zipcode {
  width: 170px;
}

.lat,
.lng {
  width: 130px;
}

label {
  color: green;
}

.table-hover tbody tr:hover td{
  background-color: rgba(255, 192, 203, 0.733);
}